
<div class="container">
     
  <div class="username">
    <%= @user.screen_name %>
  </div>
  <div class="tweet">
    <ul>
    <% @last_ten.each do |tweet| %>
       <li><%= tweet.text %> </li>
    <% end %>
  </ul>
  </div>

</div>

